
###############################################################################
# For details about these, see barcode.config.js                              #
###############################################################################

#------------------------------------------------------------------------------
# The test user, this is 'barcode1'
#------------------------------------------------------------------------------

BC_TEST_USER=16186

#------------------------------------------------------------------------------
# Set to 0 to disable posting to the forum (preferred)
# If you are testing forum stuff, set to 102 which is a real forum for testing
#------------------------------------------------------------------------------

BC_FORUM_MODE=0

#------------------------------------------------------------------------------
# Set to 0 to disable sending SMS messages. Set to 'production' to enable them
#------------------------------------------------------------------------------

BC_SMS_MODE=0

#------------------------------------------------------------------------------
# The API key to access the XenForo REST endpoints, contact me for one
#------------------------------------------------------------------------------

BC_XF_API_KEY=0

#------------------------------------------------------------------------------
# This is correct for development
#------------------------------------------------------------------------------

BC_SITE_BASE_URL=http://localhost:3000/bc

#------------------------------------------------------------------------------
# Set to a directory that will hold uploaded images
#------------------------------------------------------------------------------

BC_UPLOADS_DIR=/tmp

#------------------------------------------------------------------------------
# Set to a directory that will hold the database files
#------------------------------------------------------------------------------

BC_DATABASE_DIR=/tmp

#------------------------------------------------------------------------------
# Keys for AWS, contact me for them
#------------------------------------------------------------------------------

AWS_ACCESS_KEY_ID=0
AWS_SECRET_ACCESS_KEY=0

#------------------------------------------------------------------------------
# Session cookies
#------------------------------------------------------------------------------

BC_SESSION_COOKIE_SECRETS=ABCDEFGHIJKLMNOPQRSTUVWXYZ
BC_SESSION_COOKIE_NAME=bc-dev
BC_SESSION_COOKIE_SECURE=no

